.section {
 margin-bottom: 5rem;
}

.section:last-child {
  margin-bottom: 0;
}

.section-heading {
  padding: 1rem 0;
}

.section-heading > h3 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.section > .card-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* MEDIA QUERY */
